                /* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
        
        html,
        body,
        div,
        span,
        applet,
        object,
        iframe,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        blockquote,
        pre,
        a,
        abbr,
        acronym,
        address,
        big,
        cite,
        code,
        del,
        dfn,
        em,
        img,
        ins,
        kbd,
        q,
        s,
        samp,
        small,
        strike,
        strong,
        sub,
        sup,
        tt,
        var,
        b,
        u,
        i,
        center,
        dl,
        dt,
        dd,
        ol,
        ul,
        li,
        fieldset,
        form,
        label,
        legend,
        table,
        caption,
        tbody,
        tfoot,
        thead,
        tr,
        th,
        td,
        article,
        aside,
        canvas,
        details,
        embed,
        figure,
        figcaption,
        footer,
        header,
        hgroup,
        menu,
        nav,
        output,
        ruby,
        section,
        summary,
        time,
        mark,
        audio,
        video {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
        }
        /* HTML5 display-role reset for older browsers */
        
        article,
        aside,
        details,
        figcaption,
        figure,
        footer,
        header,
        hgroup,
        menu,
        nav,
        section {
            display: block;
        }
        
        body {
            line-height: 1;
        }
        
        ol,
        ul {
            list-style: none;
        }
        
        blockquote,
        q {
            quotes: none;
        }
        
        blockquote:before,
        blockquote:after,
        q:before,
        q:after {
            content: '';
            content: none;
        }
        
        table {
            border-collapse: collapse;
            border-spacing: 0;
        }
        /***********************************************
DEFAULTS
***********************************************/
        
        html {
            background-color: rgba(251, 251, 242, 60%);
        }
        /* main {
display: flex;
flex-direction: column;
height: 100%;
} */
        
        body {
            width: 100%;
        }
        
        .container {
            width: 80%;
            margin: 0 auto;
        }
        h1 {
            text-align: center;
            font-family: capitana, sans-serif;
            font-weight: 900;
            font-style: normal;
            color: #3F88C5;
            font-size: 30px;
        }
        h2 {
            text-align: center;
            font-family: capitana, sans-serif;
            font-weight: 900;
            font-style: normal;
            color: #3F88C5;
            font-size: 24px;
        }
        
        h3 {
            color: #393E41;
            font-family: capitana, sans-serif;
            font-weight: 700;
            font-style: normal;
            font-size: 20px;
        }
        
        h1 span, h2 span {
            color: #E79B31;
        }
        /***********************************************
Mobile Nav Menu 
***********************************************/
        
        header {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            z-index:50;
        }
        
        nav {
            background-color: #FBFBF2;
            margin-bottom: 5%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            box-shadow: 0 4px 2px rgba(0, 0, 0, 16%);
            padding-top: 5%;
            padding-bottom: 5%;
            padding-left: 20%;
            padding-right: 20%;
            font-size: 24px;
            z-index:10;
        }
        
        .menutitle {
            margin-left: 40%;
            margin-right: 40%;
            /* originally margin:auto. play with margin, and it affects the distance between */
            text-align: center;
            color: #E79B31;
            font-family: azo-sans-web, sans-serif;
            font-weight: 900;
            font-style: normal;
        }
        
        #logo {
            width: 40px;
            /* margin: 0 auto; */
        }
        
        #menuToggle {
            display: block;
            position: relative;
            z-index: 20;
            -webkit-user-select: none;
            user-select: none;
        }
        
        #menuToggle a {
            text-decoration: none;
            color: #FBFBF2;
            transition: color 0.3s ease;
            font-family: capitana, sans-serif;
            font-weight: 900;
            font-style: normal;
        }
        
        #menuToggle input {
            display: block;
            width: 40px;
            height: 32px;
            position: absolute;
            top: -7px;
            cursor: pointer;
            opacity: 0;
            /* hide this */
            z-index: 2;
            /* and place it over the hamburger */
            -webkit-touch-callout: none;
        }
        /* hamburger icon*/
        
        #menuToggle span {
            display: block;
            width: 36px;
            height: 6px;
            margin-bottom: 5px;
            position: relative;
            background: #50514F;
            border-radius: 3px;
            z-index: 1;
            transform-origin: 0px 2px;
            transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
        }
        
        #menuToggle span:first-child {
            transform-origin: 0% 0%;
        }
        
        #menuToggle span:nth-last-child(2) {
            transform-origin: 0% 100%;
        }
        /*  Transform  hamburger into a crossmark.*/
        
        #menuToggle input:checked~span {
            opacity: 1;
            transform: rotate(45deg) translate(-2px, -1px);
            background: #FBFBF2;
        }
        /* Hide the middle one.*/
        
        #menuToggle input:checked~span:nth-last-child(3) {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
        }
        /*Last one should go the other direction*/
        
        #menuToggle input:checked~span:nth-last-child(2) {
            transform: rotate(-45deg) translate(0, -1px);
        }
        /*Make this absolute positioned at the top left of the screen*/
        
        #menu {
            position: absolute;
            width: 225px;
            margin: -100px 0 0 -50px;
            padding: 50px;
            padding-top: 125px;
            background: #393E41;
            list-style-type: none;
            -webkit-font-smoothing: antialiased;
            /* to stop flickering of text in safari */
            transform-origin: 0% 0%;
            opacity: 0;
            transform: translate(-100%, 0);
            transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.5s;
        }
        
        #menu li {
            padding: 10px 0;
            font-size: 22px;
        }
        /*slide in from the left*/
        
        #menuToggle input:checked~ul {
            transform: none;
            opacity: 1;
        }
        /***********************************************
Mobile Footer
***********************************************/
        
        footer {
            background-color: #3F88C5;
            display: flex;
            flex-direction: row;
            /* padding-left: 20px;
            padding-right: 20px; */
            width: 100%;
        }
        
        .logofulldiv {
            width: 150%;
            /* min-width: 75px;
max-width: 150px; */
            margin: 5%;
        }
        
        #fulllogo {
            max-width: 150px;
        }
        
        .mediaicons {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
        
        .mediaicons img {
            width: 20%;
            margin: 5px;
            /* min-width: 35px;
max-width: 70px; */
        }
        
        footer span {
            font-family: capitana, sans-serif;
            font-weight: 200;
            font-style: normal;
            color: #FBFBF2;
            font-size: 14px;
            float: right;
            margin-top: 2%;
            margin-right: 5px;
        }
        
        .footerright {
            margin: 5%;
        }
        /***********************************************
Mobile Button Back to Top
***********************************************/
        
        #myBtn1 {
            display: none;
            /* Hidden by default */
            position: fixed;
            /* Fixed/sticky position */
            bottom: 23%;
            /* Place the button at the bottom of the page */
            right: 0px;
            /* Place the button 30px from the right */
            z-index: 99;
            /* Make sure it does not overlap */
            border: none;
            /* Remove borders */
            outline: none;
            /* Remove outline */
            background-color: #FBFBF2;
            /* Set a background color */
            cursor: pointer;
            /* Add a mouse pointer on hover */
            padding: 15px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
            /* Some padding */
            width: 75px;
        }
        
        .toptext {
            display: none;
        }
        /***********************************************
Mobile HOME Page
***********************************************/

.hometitle h1{
    color:#393E41;
}

.hometitle p{
    color:#3F88C5;
    font-size: 19px;
    text-align:center;
    font-family: azo-sans-web, sans-serif;
    font-weight: 900;
    font-style: normal;
    margin-bottom:10%;
}

.recentwork img{
    width:100%;
    margin-bottom:10%;
}

.recentwork h2{
    margin-bottom:10%;      
}

button{
    cursor: pointer;
}

#moreworksbutton, #contactbutton{
    background-color: #ED1C24;
    border-radius: 57px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    font-family: capitana, sans-serif;
    font-weight: 900;
    font-style: normal;
    border: none;
    box-shadow: none;
    margin-top: 10%;
    color: #FBFBF2;
    justify-content:center;
    text-decoration:none;
}


.homebutton{
    text-align:center;
    margin-bottom:10%;
}

.goldenstand{
    background:#393E41;
    padding-top:10%;
    padding-bottom:15%;
    text-align:center;
    margin-bottom:10%;
    margin-left:-12.5%;
    margin-right:-12.5%;
    /* margin-left:-10%;
    margin-right:-10%; */
}

.goldenstand h2{
    color:#FBFBF2;
    margin-bottom:10%;
}

.goldenstand img{
    /* margin-bottom:10%; */
    width:80%;
}


.scrolling-wrapper{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap:0;
  -webkit-overflow-scrolling: touch;
  /* margin-left:-25%; */
  /* margin-right:-250px; */
}

.scrolling-wrapper::-webkit-scrollbar {
      display: none;
  }

  .card {
    flex: 0 0 auto;
    /* margin-right:-500px; */
  }

  .card img{
      width:80%;
  }

  .scrolling-wrapper3{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap:10px;
    -webkit-overflow-scrolling: touch;
    
    /* margin-right:-250px; */
  }
  
  .scrolling-wrapper3::-webkit-scrollbar {
        display: none;
    }
  
    .card3 {
      flex: 0 0 auto;
      width:80%;
    }

    .ins{
    text-align:center;
        font-family: capitana, sans-serif;
    font-weight: 700;
    font-style: normal;
    color:#FBFBF2; 
    margin-bottom:17%;
    margin-top:-17%;
    font-size: 20px;
    }

.contactdesigner p{
    margin-top:10%;
    font-family: capitana, sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #393E41;
    line-height: normal;
    margin-left: 10%;
    margin-right:10%;
}

.contactdesigner span{
    font-weight: 700;
}

.recentwork{
    text-align:center;
}
.recentwork p{
    font-family: capitana, sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #393E41;
    line-height: normal;
}

.recentwork p:nth-child(4){
    margin-top:5%;
    margin-bottom:5%;
    margin-left: 15%;
    margin-right: 15%;
}


        /***********************************************
Mobile About Page
***********************************************/
        
        #fulllogoabout {
            display: block;
            width: 50%;
            margin: 5% auto;
        }
        
        .aboutintro {
            font-size: 16px;
            font-family: capitana, sans-serif;
            font-weight: 200;
            font-style: normal;
            color: #393E41;
            line-height: normal;
            margin-bottom: 10%;
            /* position: relative; */
        }
        
        .aboutintro span {
            font-weight: 700;
            color:#393E41;
        }
        
        .aboutdesigner {
            background-color: #393E41;
            padding-top: 10%;
            /* margin-left: -20%;
            margin-right: -20%; */
            padding-left: 20%;
            padding-right: 20%;
            margin-bottom: 10%;
            margin-left: -12.5%;
            margin-right: -12.5%;
            /* width: 100vw; */
        }
        
        #aboutdesignerimg {
            max-width: 100%;
            margin-top: 10%;
            margin-bottom: 10%;
        }
        
        .center-left h2 {
            text-align: center;
            line-height: 125%;
            color: #FBFBF2;
        }
        
        .aboutdesigner p {
            font-size: 16px;
            font-family: capitana, sans-serif;
            font-weight: 200;
            font-style: normal;
            color: #FBFBF2;
            padding-bottom: 10%;
            line-height: normal;
        }
        
        .aboutexperience {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom:5%;
        }
        
        .aboutexperience h2 {
            margin-top: 10%;
            margin-bottom: 5%;
        }
        
        #cvbutton {
            background-color: #ED1C24;
            border-radius: 57px;
            padding-left: 4%;
            padding-right: 4%;
            padding-top: 3%;
            padding-bottom: 3%;
            font-family: capitana, sans-serif;
            font-weight: 900;
            font-style: normal;
            border: none;
            box-shadow: none;
            margin-top: 5%;
            text-decoration:none;
            color: #FBFBF2;
        }
        
        
        .aboutexperiencefull h3 {
            margin-top: 10%;
            margin-bottom: 10%;
        }
        
        .aboutexperience img {
            margin-top: 10%;
            margin-bottom: 10%;
        }
        
        .education img {
            max-width: 370px;
        }
        
        .aboutorgs {
            margin-bottom: 10%;
        }
        
        .aboutorgs li {
            font-size: 16px;
            font-family: capitana, sans-serif;
            font-weight: 200;
            font-style: normal;
            color: #393E41;
            line-height: normal;
            list-style-type: none;
        }
        
        .skillslist {
            background-color: #393E41;
            padding-top: 40px;
            padding-bottom:40px;
            /* margin-left: -20%;
            margin-right: -20%; */
            padding-left: 10%;
            padding-right: 10%;
            margin-bottom: 10%;
            margin-left: -12.5%;
            margin-right: -12.5%;
        }

        .skillslist img{
            width:75px;
        }


        .scrolling-wrapper2{
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
        }

        .card2{
        flex: 0 0 auto;
        padding-left:20px;
        padding-right:20px;
        }

        .scrolling-wrapper2::-webkit-scrollbar {
            display: none;
        }
        /* I hate the look of the scrollbar for mobile/tablet, but realize that it becomes difficult
        to side scroll in browser view. Is there a function that allows it to be visible for browser, and not for 
        touch devices?*/

        /***********************************************
Mobile Contact Page
***********************************************/
        #menutitlecontact{
            margin-left:30%;
            margin-right:30%;
        }
        #subhead{
            font-size: 24px;
            text-align: center;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        
        .form {
            margin-left: 10%;
            margin-right: 10%;
            font-family: capitana, sans-serif;
            font-weight: 400;
        }
        
        .form label {
            font-family: capitana, sans-serif;
            font-weight: 400;
            font-style: normal;
            color: #393E41;
        }
        
        .form input {
            display: block;
            width: 100%;
            margin-top: 10px;
            margin-bottom: 20px;
            padding: 2%;
            border: 1px solid #707070;
            font-family: capitana, sans-serif;
            font-weight: 400;
            border-radius: 4px;
        }
        
        .form textarea {
            display: block;
            width: 100%;
            resize: vertical;
            min-height: 100px;
            max-height: 200px;
            padding: 2%;
            margin-bottom: 3%;
            border: 1px solid #707070;
            border-radius: 4px;
            margin-top: 10px;
        }
        
        .formbutton {
            margin-bottom: 20px;
            text-align: center;
        }
        
        #sbutton {
            background-color: #ED1C24;
            border-radius: 57px;
            padding-left: 5%;
            padding-right: 5%;
            padding-top: 3%;
            padding-bottom: 3%;
            font-family: capitana, sans-serif;
            font-weight: 900;
            font-style: normal;
            border: none;
            box-shadow: none;
            margin-top: 10%;
            color: #FBFBF2;
        }
        
        .linebreak1{
            border-top: 3px solid #393E41;
        }
        .contactdirect {
            margin-top: 10%;
            margin-bottom: 10%;
            text-align: center;
            font-family: capitana, sans-serif;
            font-weight: 200;
            font-style: normal;
            color: #393E41;
            line-height:normal;
        }

        .contactdirect p{
            padding-top:20px;
            padding-bottom:20px;
        }
        
        .contactdirect span{
            font-family: capitana, sans-serif;
            font-weight: 700;
            font-style: normal;
        }
        /***********************************************
WORKS MOBILE
***********************************************/
        
        #sort {
            text-align: center;
            margin-top: 10%;
            margin-bottom: 10%;
        }
        
        .sortby ul li a {
            color: red;
            font-size: 16px;
            line-height: 2rem;
            font-family: capitana, sans-serif;
            font-weight: 400;
            font-style: normal;
        }
        /* Why isn't this working? targeting "a" makes them all bold */
        
        .sortby ul li a:nth-child(1) {
            font-weight: 700;
        }
        
        .projectimgs {
            text-align: center;
            width: 100%;
            /* display: grid;
            grid-template-rows: repeat(3, 1fr); */
            /* margin-bottom: 10%; */
            /* justify-content: center;
align-content: center; */
        }

        
        .projectimgs img {
            width: 100%;
        }
        
        .textbox {
            background-color: rgba(57, 62, 65, 80%);
            left: 0;
            right: 0;
            text-align: center;
            grid-row-start: 3;
            grid-row-end: 4;
            position: relative;
            bottom: 75px;
            height: 72px;
            margin-bottom: -65px;
        }
        
        .textbox p {
            font-size: 24px;
            font-family: capitana, sans-serif;
            font-weight: 700;
            font-style: normal;
            color: #E79B31;
            line-height: normal;
        }
        
        .textbox span {
            font-size: 20px;
            font-family: capitana, sans-serif;
            font-weight: 200;
            font-style: normal;
            color: #FBFBF2;
        }
        
        .projectimgs div {
            width: 100%;
        }
        /***********************************************
WORKS MOBILE
***********************************************/
.errortext{
font-size: 16px;
    font-family: capitana, sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #393E41;
    line-height: normal;
    margin-bottom: 10%;
    margin-top:10%;
}

.backtolink{
    text-align:center;
    margin-bottom:10%;
}
.backtolink a{
        color: #ED1C24;
        font-size: 16px;
        line-height: 2rem;
        font-family: capitana, sans-serif;
        font-weight: 700;
        font-style: normal;
        text-align:center;
}

/* HOW DO I CENTER THIS VERTICALLY IN THE MIDDLE OF THE PAGE? SHOULD I JUST GIVE IT A LARGER TOP MARGIN? */
#errorpg{
    margin-top:50%;
    margin-bottom:50%;
}


/***********************************************
SERVICES MOBILE
***********************************************/
#menutitleserv{
    margin-left: 30%;
    margin-right:30%;
}
/* Tried 30% and it was wonky. Must find a better way to do this nav bar! */

.aboutservices p{
    font-size: 16px;
    font-family: capitana, sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #393E41;
    line-height: normal;
    margin-bottom: 10%;
    margin-top:10%;
    /* position: relative; */
}

.aboutservices span {
    font-weight: 700;
}

.dkservice {
    background-color: #393E41;
    padding-top: 10%;
    margin-left: -20%;
    margin-right: -20%;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 10%;
    /* width: 100vw; */
}

.aboutservices h3{
    text-align:center;
    margin-bottom:10%;
    margin-top:10%;
}

.skiptoservices {
    margin-bottom:10%;
}

.skiptoservices ul li a {
    color: red;
    font-size: 20px;
    line-height: 2rem;
    font-family: capitana, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align:left;
    line-height:40px;
}

    .skiptoservices span{
    color:#393E41;
    text-decoration: none;
    font-weight:200;
    }

    .dkserv h2{
    padding-top:10%;
    color:#FBFBF2;
    line-height: 40px;
    }

    .dkserv img{
    width:80%;
    margin:10%;
    }
    .dkserv{
    background-color:#393E41;
    margin-bottom:10%;
    margin-left:-12.5%;
    margin-right:-12.5%;
    }
    .dkserv p{
    font-size: 16px;
    font-family: capitana, sans-serif;
    font-weight: 200;
    font-style: normal;
    color:#FBFBF2;
    line-height: normal;
    padding-left:10%;
    padding-right:10%;
    padding-bottom:10%;
    }

    .ltserv img{
        width:80%;
        margin:10%;
        }
       
        .ltserv p{
        font-size: 16px;
        font-family: capitana, sans-serif;
        font-weight: 200;
        font-style: normal;
        color:#393E41;
        line-height: normal;
        padding-left:10%;
        padding-right:10%;
        padding-bottom:10%;
        }

        .ltserv span{
            font-weight:700;
        }

        .thedesigner img{
            margin-top:10%;
            margin-bottom:10%;
            width:100%
        }


        /***********************************************
MEDIA QUERY - Tablet
***********************************************/
        
        @media screen and (min-width: 800px) {
        
            h1{
                font-size:48px;
            }

            h2{
                font-size:38px;
            }

            h3{
                font-size:24px;
            }
              /***********************************************
TABLET - HOME Page
***********************************************/

.goldenstand h2 {
    margin-bottom:5%;
}

.goldenstand img{
    width: 80%;
}

.thedesigner img {
    width:75%;
    margin-left:12.5%;
    margin-right:12.5%;
    margin-bottom:5%;
    margin-top:5%;
}

.contactdesigner p {
    margin-top:5%;
}

#moreworksbutton {
    margin-top:5%;
}
  /***********************************************
TABLET - About Page
***********************************************/              
.aboutintro {
    margin-bottom:0;
    display: grid; 
    grid-template-columns: repeat(12, 1fr); 
    grid-template-rows: repeat(6, 1fr); 
    gap: 0px 0px; 
    grid-template-areas: 
      ". . . . . . . . . . . ."
      "gcclogoa gcclogoa gcclogoa gcclogoa gcclogoa gcclogoa . introtext introtext introtext introtext introtext"
      "gcclogoa gcclogoa gcclogoa gcclogoa gcclogoa gcclogoa . introtext introtext introtext introtext introtext"
      "gcclogoa gcclogoa gcclogoa gcclogoa gcclogoa gcclogoa . introtext introtext introtext introtext introtext"
      "gcclogoa gcclogoa gcclogoa gcclogoa gcclogoa gcclogoa . . . . . ."; 
  }

  /* .abouttitle { grid-area: abouttitle; } */
  .gcclogoa { grid-area: gcclogoa; }
  .introtext { grid-area: introtext; }

  .aboutdesigner{
      justify-content:center;
  }

  .aboutdesigner img{
      width:75%;
      margin-left:12.5%;
      margin-right:12.5%;
  }

  .aboutexperience{
    display: flex;
    flex-direction: row;
    justify-content: space-between;      
    align-items: baseline;
  }

  #fulllogoabout{
    margin-top:0;
  }
  .aboutexperience h2{
      margin-top:0;
      margin-bottom:10%;
  }

  .aboutorgs {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "aboutorgs1 aboutorgs1 aboutorgs1 aboutorgs1 aboutorgs1 . aboutorgs2 aboutorgs2 aboutorgs2 ."
      "aboutorgs1 aboutorgs1 aboutorgs1 aboutorgs1 aboutorgs1 . aboutorgs2 aboutorgs2 aboutorgs2 ."
      "aboutorgs1 aboutorgs1 aboutorgs1 aboutorgs1 aboutorgs1 . aboutorgs2 aboutorgs2 aboutorgs2 ."
      "aboutorgs1 aboutorgs1 aboutorgs1 aboutorgs1 aboutorgs1 . . . . .";  
  }
  .aboutorgs2 { grid-area: aboutorgs2; }
  .aboutorgs1 { grid-area: aboutorgs1; }

  #cvbutton {
    margin-top:0;
}

.education img{
    width:100%;
    min-width: 650px;
    max-width:1000px;
    margin-bottom:10%;
    margin-top:5%;
}


.aboutexperiencefull h3 {
    margin-top:0;
    margin-bottom:24px;
}
/***********************************************
TABLET - Services Page
***********************************************/

.dkserv h2, .ltserv h2{
    padding-top:5%;
}
.dkserv img, .ltserv img{
    width:50%;
    margin-left: 25%;
    margin-top:5%;
    margin-bottom:5%;
}

.dkserv p, .ltserv p{
    padding-bottom: 5%;
}
  
  .linebreak{
    display:none;
}

.regp{
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap:70px;
}

.regptext{
    grid-column-start: 1;
    grid-column-end: 2;
}

.skiptoservices{
    grid-column-start:2;
    grid-column-end:3;
}

.skiptoservices h3{
    text-align:left;
}

.dkserv p, .ltserv p{
    text-align:center;
}
  
/***********************************************
TABLET - ERROR Page
***********************************************/
#errorpg{
    margin-top:25%;
    margin-bottom:25%;
}

.backtolink{
    display:flex;
    justify-content: space-evenly;

}

/***********************************************
TABLET - CONTACT Page
***********************************************/
#r1{
    display:flex;
    justify-content:space-between;
    column-gap:40px;
}

#r1 input{
    display:inline;
    padding:4%;
}

.formbutton{
    text-align:left;
    margin-bottom: 10%;
}

.contactdirect{
    display:flex;
    justify-content:space-between;
    column-gap:10%;
}

.r2{
    display:grid;
    grid-template-columns: 0.5fr 2fr;
    column-gap: 40px;
}

.r2 p{
    text-align:left;
}

.r2 img{
    padding-top:20px;
    padding-bottom:20px;
}


        }        
/***********************************************
TABLET - WORKS Page
***********************************************/

@media screen and (min-width: 915px){
.projectimgs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    width:125%;
    margin-left:-12.5%;
}

.projectimgs div:nth-child(odd){
    grid-column-start:1;
    grid-column-end:2;
}

.projectimgs div:nth-child(even){
    grid-column-start:2;
    grid-column-end:3;
}
.sortby ul{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    column-gap:20px;
}

.aboutdesigner {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 10%;
    margin-left: -12.5%;
    margin-right: -12.5%;
    display: grid; 
    grid-template-columns: repeat(12, 1fr); 
    grid-template-rows: repeat(4, 1fr); 
    gap: 10px 10px; 
    grid-template-areas: 
      "center-left center-left center-left center-left center-left center-left center-left center-left center-left center-left center-left center-left"
      "zimg zimg zimg zimg zimg . . ztext ztext ztext ztext ztext"
      "zimg zimg zimg zimg zimg . . ztext ztext ztext ztext ztext"      
      "zimg zimg zimg zimg zimg . . ztext ztext ztext ztext ztext"      
      "zimg zimg zimg zimg zimg . . ztext ztext ztext ztext ztext"
      "zimg zimg zimg zimg zimg . . ztext ztext ztext ztext ztext";  
  }
  .center-left { grid-area: center-left; }
  .zimg { grid-area: zimg; }
  .ztext { grid-area: ztext; }

  .aboutdesigner img{
      width:100%;
      margin:0;
  }

  .zimg{
      margin:0;
  }
}

/* Homepage Screen switch (Recent Works) ; this size works best for this layout to start */
@media screen and (min-width: 990px){
.ins{
    display:none;
}

.goldenstand{
    padding-bottom:10%;
}
    .scrolling-wrapper3{
    margin-left:0;
    margin-right:0;
    width:100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow:visible;
}

.card3{
    margin-right:0;
    width:100%;
}
.scrolling-wrapper{
    margin-left:0;
    width:100%;
    display:grid;
    row-gap:30px;
    grid-template-columns: 1fr 1fr;
    overflow:visible;
}

.card{
    margin-right:0;
}

.card img{
    width:60%;
}

  /* RECENT WORKS ANIMATIONS */

  .recentwork img{
      /* Cannot add opacity to image without it being glitchy; part of the image is still translucent
      during hover */
    /* opacity:30%; */
    transition: transform .2s;
    margin-bottom:10%;
}


.recentwork img:hover{
    opacity:100%;
    transform-origin: bottom center;
    transform: scale(2);
    display:block;
}
} 

/***********************************************
MEDIA QUERY - DESKTOP
***********************************************/
@media screen and (min-width: 1200px){
.body{
    max-width:1600px;}
   main{
       margin-left:20%;}
   h1{
       font-size:60px;
        text-align:left;}
   h2{
       font-size:48px;}
   h3{
       font-size:24px;}

   .aboutintro p{
    font-size:16px;
   }


    .container {
        max-width: 1400px;
        left: 400px;
        padding: 7% 10% 7%;
        margin: 0 auto;
    }
    /* UNSURE! Should I make this 1600? */
    
    
header {
    top: 0;
    left: 0;
    /* height: 100%; */
    /* padding-left: 10%; */
}
nav {
    background-color: #FBFBF2;
    margin-bottom: 5%;
    margin-top: -2%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    box-shadow: 3px 0 6px rgba(0, 0, 0, 16%);
    padding-left: 0;
    padding-right: 0;
    width:20%;
    height: 100vh;
    position: fixed;
    z-index: 2;
}
.menutitle {
    display: none;
}
#logo {
    width: 200px;
    position: sticky;
}
#menuToggle span {
    display: none;
}
/* WHY DOES HOVER STATE MAKE MY NAV BECOME GLITCHY? It works until I start to 
scroll through the page; I suspect it has something to do with the script/back to top button */
/* #menuToggle a:hover{
    color:#E79B31;
} */


#menu {
    position: relative;
    width: 225px;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    background: none;
    -webkit-font-smoothing: none;
    /* to stop flickering of text in safari */
    opacity: 100%;
    transform: none;
    transition: none;
    display: flex;
    flex-direction: column;
    z-index: 3;
}
footer {
    width:80%;
    padding-left: 20%;
    padding-top: 20px;
    margin-bottom: 0;
    /* margin-left: 2%; */
    align-items: center;
    clear: both;
}
#menuToggle {
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;

}
#menuToggle li {
    color: #393E41;
    top: 50%;
}
#menuToggle a {
    text-decoration: none;
    display: contents;
    color: #393E41;
    transition: none;
    font-family: capitana, sans-serif;
    font-weight: 900;
    font-size: 160%;
    font-style: normal;
    position: sticky;
}

.logofulldiv {
    padding-left: 55px;
    margin-top: 20px;
}
.toptext {
    display: inline;
}
.footerright {
    margin-top: 20px;
}
/***********************************************
DESKTOP - HOME page
***********************************************/
.hometitle h1, .hometitle p{
    text-align:right;
}
#moreworksbutton {
    margin-top: 7%;
}

.scrolling-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card img{
    width:80%;
}

.btmgrp{
    display:flex;
    column-gap:30px;
    justify-content: center;
    align-items: center;
    margin-left:-10%;
    margin-right:-10%;
}

.thedesigner{
    display:flex;
    flex-direction:column-reverse;
    flex-wrap:nowrap;
    width:120%;
}

.thedesigner img{
    margin:0;
    width:100%;
}

.thedesigner h2{
    flex-wrap:wrap;
    margin-top:20px;
    text-align:left;       
}

#moreworkbutton{
    align-self:flex-end;
}
/***********************************************
DESKTOP - ABOUT page
***********************************************/
.abouttitle h1{
    text-align:left;
}
.aboutintro {
    margin-bottom:5%;
    display: grid; 
    grid-template-columns: repeat(12, 1fr); 
    grid-template-rows: repeat(5, 1fr); 
    gap: 0px 0px; 
    grid-template-areas: 
      "abouttitle abouttitle abouttitle abouttitle abouttitle . . . . . . ."
      ". . . . . . . . . . . ."
      ". gcclogoa gcclogoa gcclogoa gcclogoa gcclogoa gcclogoa . introtext introtext introtext introtext introtext"
      ". gcclogoa gcclogoa gcclogoa gcclogoa gcclogoa gcclogoa . introtext introtext introtext introtext introtext"
      ". gcclogoa gcclogoa gcclogoa gcclogoa gcclogoa gcclogoa . introtext introtext introtext introtext introtext"
      ". gcclogoa gcclogoa gcclogoa gcclogoa gcclogoa gcclogoa . introtext introtext introtext introtext introtext" 
      ". gcclogoa gcclogoa gcclogoa gcclogoa gcclogoa gcclogoa . introtext introtext introtext introtext introtext" 
      ". gcclogoa gcclogoa gcclogoa gcclogoa gcclogoa gcclogoa . . . . . ."; 
    }
  .abouttitle { grid-area: abouttitle; }
  .gcclogoa { grid-area: gcclogoa; }
  .introtext { grid-area: introtext; }

.aboutintro,
.designer p {
    font-size: 24px;
}


#fulllogoabout{
    margin-top:0;
    margin-left:-5%;
    width:60%;
}

.aboutdesigner {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 10%;
    margin-left: -12.5%;
    margin-right: -12.5%;
    display: grid; 
    grid-template-columns: repeat(12, 1fr); 
    grid-template-rows: repeat(4, 1fr); 
    gap: 10px 10px; 
    grid-template-areas: 
      "center-left center-left center-left center-left center-left center-left center-left center-left center-left center-left center-left center-left"
      "zimg zimg zimg zimg zimg . . ztext ztext ztext ztext ztext"
      "zimg zimg zimg zimg zimg . . ztext ztext ztext ztext ztext"      
      "zimg zimg zimg zimg zimg . . ztext ztext ztext ztext ztext"      
      "zimg zimg zimg zimg zimg . . ztext ztext ztext ztext ztext"
      "zimg zimg zimg zimg zimg . . ztext ztext ztext ztext ztext";  
  }
  .center-left { grid-area: center-left; }
  .zimg { grid-area: zimg; }
  .ztext { grid-area: ztext; }

  .aboutdesigner img {
    width:100%;
    margin-top:0;
    padding:0;
    top:0;
  }
    #aboutdesignerimg {
        margin-top: 0;
    }

    .skillslist img{
        width:100px;
        margin-bottom: 0;
    }

    .scrolling-wrapper2{
        justify-content: center;
    }

    /***********************************************
DESKTOP - CONTACT page
***********************************************/
.contactgrid{
    display:flex;
    column-gap: 5%;
    margin-left:-5%;
}
.linebreak1{
    border-top:none;
    border-left: 3px solid #393E41;
}
   
.contactdirect{
        display:block;
        margin-top:0;
        padding-top:0;
    }
    
    .r2{
        display:block;
    }

    .r2 p{
        text-align:center;
    }

    #subhead{
        text-align:left;
        font-size:36px;
        margin-top:5%;
        margin-bottom:5%;
    }

    .contactdirect p {
        padding-top:10px;
        padding-bottom:10px;
    }
/***********************************************
DESKTOP - WORKS page
***********************************************/
.worksimg img{
    opacity:35%;
}

.worksimg img:hover{
    opacity:100%;
}
    /***********************************************
DESKTOP - SERVICES page
***********************************************/
/* .dkserv{
    display: grid; 
    grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr; 
    grid-template-rows: 0.5fr 0.5fr 1fr 0.5fr; 
    gap: 20px 10px; 
    grid-template-areas: 
      ". . . . . . . . . . . ."
      ". img img img img img . h2 h2 h2 h2 ."
      ". img img img img img . p p p p ."
      ". . . . . . . . . . . ."; 
  }
  .dkserv img { grid-area: img; }
  .dkserv h2 { grid-area: h2; }
  .dkserv .p { grid-area: p; }
*/

.dkserv {
    margin-bottom:5%;
    display: grid; 
    grid-template-columns: 1.3fr 1.6fr; 
    grid-template-rows: 0.4fr 0.3fr 1.3fr 0.5fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "img h2"
      "img ."
      "img p1"
      "img p2"; 
  }
  .dkserv img { 
    grid-area: img;
    width:75%;
    margin-left:20%; 
}
  .dkp1 { grid-area: p1; }
  .dkp2 { grid-area: p2; }
  .dkserv h2 { 
      grid-area: h2;
      line-height:58px;
      padding-top:20px; 
    }

.dkserv p, .ltserv p{
    text-align:left;
    padding-left:5%;
} 

.ltserv{
    margin-left:-5%;
    display:grid;
    grid-template-columns: 1.6fr 1.3fr;
    grid-template-rows: 0.4fr 0.3fr 1.3fr 0.5fr;
    gap: 0px 0px;
    grid-template-areas:
    "h2a imga"
    ". imga"
    "p1a imga"
    "p2a imga";
}

.ltserv img{
    grid-area: imga;
    width:75%;
    margin-left:10%;
    margin-right:0;
}

.ltp1 { grid-area: p1a; }
  .ltp2 { grid-area: p2a;}
  .ltserv h2 { 
      grid-area: h2a;
  }
/***********************************************
DESKTOP - ERROR page
***********************************************/
#errorpg{
    margin-top:0;
    margin-bottom:0;
}

#errorpg h1, #error p, #error div{
    margin-left:30%;
}

.errortext{
    width:60%;
    margin-left:40%;
}

.backtolink{
    margin-left:30%;
}

#oopst{
    text-align:center;
}
      
/***********************************************
DESKTOP - Back to Top BUTTON
***********************************************/
#myBtn1 {
    /* display: none; */
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    top: 80%;
    /* Place the button at the bottom of the page */
    left: 7%;
    /* Place the button 30px from the right */
    /* z-index: 99; Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background: none;
    /* Set a background color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    width: 100px;
    /* Increase font size */
    font-family: capitana, sans-serif;
    font-weight: 900;
    font-style: normal;
    color: #393E41;
    box-shadow: none;
    padding: 0px;
    z-index: 1000;
}
}
                    
    